.container-grid
 margin-left: 0
 padding: 0

.cards-feed
 display: grid
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
 grid-gap: 1em
 padding: 2rem
 margin-left: 2em
 margin-top: 3em
 background: #F1F1F1
 border-radius: 20px
 box-shadow: 0 12px 10px -10px rgba(0,0,0, 0.2)
 
.headingText
 color: #4285F4

.small
 color: #72981C
 font-size: 12px

.source_news
  color: #EA4335
  margin-left: 1em

 
div.alignToText
  display: flex
  align-items: center
 
.hrs_ago
 color: #ECB8A5
 font-size: 10px